<html>

    <head>

    <style>
        body{
                background-image: url("https://s3-ap-northeast-1.amazonaws.com/okphoto/background/grad_pastel2.jpg?X-Amz-Date=20151228T152006Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=d2dc7e211b892fbade4d1e91dcef4e6ac0914d444dc1dc606b5274f5c1d2f98e&X-Amz-Credential=ASIAIWLBX5EZFD5TDFEA/20151228/ap-northeast-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEI///////////wEakALYXqdGhjZ2%2BdC9e8XQa%2BOzyyn%2BjfnVdRo%2BMFS/vW92eX2g1YjqwTS8sNRCAZRTL%2BOB9004y3zVymYEn%2BqeXu9dTxOV5h8eQs7qYkhwcVUPVy5FVICPV7VWaJ%2BG0vmcEFEzGI8pPARIc6UDt/x86veo3KbDWcS1O4HVGMpQrWb/GkkYMrVPV5fXYy72tCiRF0pT8aO3b6aJqKMU0Ard85Ufu3hcoHR7ftv35cEs6MVQonUyewOuD7VQDrU/uU/Jo2q68WL7KlrrnAnu/QhQkJ2kVIU1cofsqpJjPnX21GYUcyiILZGq/FDgdLLzHhkvRxZuyNbhPRS2Tp5GEmQKGuyMqYnHrc2WH0VHI98s13XqliCuzoS0BQ%3D%3D");
                background-repeat:no-repeat;
                background-size: 100% 100%;
            }

        .navbar{
                opacity:0.9;
            }

    </style>

    </head>

    <body>
        <%= render :partial => 'main/brandMenu' %>


        <div class="section">
            <div class="container">
                <div class="row">
<!--   #     t.string :name
  #     t.string :phoneNum
  #     t.integer :point  #다마수
  #     t.string :image
  #     t.float :average  #총점수
  #     t.integer :allscore   #총다마수
  #     t.integer :count  #총경기횟수 -->
                    <table class="table table-hover">
                        <tr>
                            <td>이름</td>
                            <td>전화번호</td>
                            <td>다마수</td>
                            <td>Avg.</td>
                            <td>총다마</td>
                            <td>경기수</td>
                        </tr>
                    <% Okdb.all.each do |t| %>
                        <tr>
                            <td><%=t.name %></td>
                            <td><%=t.phoneNum%></td>
                            <td><%=t.point%></td>
                            <td><%=t.average.to_f.round(2)%></td>
                            <td><%=t.allscore%></td>
                            <td><%=t.count%></td>
                        </tr>
                    <% end %>
                    <tr class="adduser"></tr>
                    </table>

                </div>
                <div class="row">
                    <button type="button"  data-toggle="modal" data-target="#join" class="btn btn-primary btn-block">추가하기</button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="join">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Join<br></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" enctype="multipart/form-data" method="post">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label" for="name">이름</label>
                                    <input class="form-control" id="name" placeholder="이름" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label" for="phone">휴대폰번호</label>
                                    <input class="form-control" id="phone" placeholder="휴대폰번호" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label" for="point">다마수</label>
                                    <input class="form-control" id="point" min="0" placeholder="다마수" type="number">
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" id="_join_button" class="btn btn-default" data-dismiss="modal">작성완료</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>

    <script>
    $(document).on("click","#_join_button",
    function(){
        _name=$("#name").val();
        _phone=$("#phone").val();
        _point=$("#point").val();

        $.ajax({
            data: { name: _name, phone:_phone, point:_point},
            url: "/main/join",
            dataType:"json",
            success: function(res){
                $(".adduser").before("<tr><td>"+_name+"</td>"+"<td>"+_phone+"</td>"+"<td>"+_point+"</td>"+"<td>"+0+"</td>"+"<td>"+0+"</td>"+"<td>"+0+"</td>"+"</tr>");
                $("#point").val("");
                $("#name").val("");
                $("#phone").val("");

            }
        });
    }
    );
    </script>
</html>